/* @Media */

@media  (max-width: 880px) {
  #navbox span {
    font-size: 1rem;
  }
  #navsrch{
    width: 100%;
  }
  .windows{
    margin-top: 1rem !important;
  }
  #logo{
    font-size: 2.5rem !important;
  }
  .windows div{
    width: 100% !important;
    height: 30vh !important;
  }
  .timeblock{
    font-size: .6rem;
    padding-top: 1rem;
  }
  .clockstyles{
    font-size: 1rem !important;
  }

  main h1 {
    font-size: 1rem;
  }

  }


/* START */
a:link{
  text-decoration: none;
  font-family: 'DM Serif Display', serif;
}

a:visited{
  color: black;
}

*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  display: flex;
  flex-flow: column;
  position: relative;
  height: auto;
  min-height: 100% !important;
  object-fit: cover;
  background-color:rgb(68, 146, 180) ;
}

#root{
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  object-fit: cover;
  background-color: lightgray;
}

#demo h1{
  display: grid;
  place-items: center;
}


/* Navbar styling below this line */

header{
  width: 100%;
}

#navbox{
  background-color:rgb(68, 146, 180) ;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 6rem;
}

#navbox span form{
  display: flex;
  align-items: center;
}

#logo{
  font-family: 'Spectral', serif;
  font-size: 4rem;
}

.navbutton{
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}

.menustyles{
  position: absolute;
  left: 60;
  height: 50vh;
  width: 46vh;
  padding-top: 6rem;
  padding-left: 3rem;
  line-height: 4rem;
  font-size: 2rem;
  z-index: 4;
  background-color: white;
}

.navwrapper{
  display: flex;
  flex-direction: column;
}

form{
  transform: translate(-50%,-50%);
  transition: all 1s;
  position: relative;
  top: 24px;
  left: 0;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 55px;
  border: 4px solid white;
  padding: 5px;
}

input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  font-size: 1em;
  border-radius: 50px;
  padding: 0 20px;
}

.fa{
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.4rem;
  transition: all 1s;
}

form:hover, form.filled{
  position: relative;
  left: 4rem;
  width: 10rem;
  cursor: pointer;
}

.fa-search{
  background-image: url('/client/public/images')
}

<<<<<<< HEAD
form:hover input{
  display: block;
  font-family: 'Roboto', sans-serif;
  z-index: 0;
}


/* clears the 'X' from SearchBar Across Multiple Clients */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


=======
>>>>>>> 200a5bea54f8a7eba1085d1a885d8faf6dee89ad
/* END NAVBAR */

/* Time stamp */

.timeblock{
  background-color: rgb(5, 58, 87);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding-left: 4rem;
}


.timeblock span{
  margin-left: 3rem;
  margin-right: 3rem;
}

.clockstyles{
  font-size: 1.7rem;
}

/* Main body styling below this line */

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#right-side{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#topnews{
  background-color: rgb(110, 176, 204);
}

#topnews, #right-side{
  height: calc(100vh - 144px);
}

#topnews, .category{
  display: grid;
  place-items: center;
  text-align: center;
}

.clickable {
  cursor: pointer;
}

/* MODAL STYLING */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 2rem;
  padding-left: 3rem;
  height: 85vh;
  overflow: scroll;
  overflow-x: hidden;
  line-height: 1.5rem;
}

a:link{
  color: maroon;
}

li{
  margin-top: 1.5rem;
}

hr{
  width: 100%;
  margin-top: .7rem;
}

.srcstyles{
  font-weight: bolder;
}

.clickable:active{
  background-color: red !important;
}
