@media  (max-width: 880px) {
  #navsrch{
    width: 100%;
  }
  #navbox{
    width: 90%;
  }
  .navbutton {
    height: 100%;
    width: 100%;
  }
  .windows{
    margin-top: 1rem !important;
  }
  .clickable h1{
    font-size: 1.2rem !important;
  }
  .timeblock{
    width: 100%;
    font-size: 0rem;
    padding-top: 1rem;
  }
  .clockstyles{
    font-size: 1rem !important;
    margin-right: -1.6rem;
  }
  .about-container-1 {
    margin-top: 2%;
    font-size: 2rem !important;
    font-family: 'Spectral', serif;
  }
  .dissapear{
    display: none;
  }
  #resize:hover{
    position: relative;
    left: 2rem;
    width: 5.7rem;
    cursor: pointer;
  }
  .menustyles h3{
    font-size: 1.5rem;
  }
  .menustyles{
    height: 18rem !important;
    width: 11rem !important;
    padding-top: 4rem !important;
    padding-left: 3rem !important;
    line-height: 3.4rem !important;
    font-size: 2rem !important;
    z-index: 4 !important;
  }
}

#about-box {
  height: 100vh;
  margin: 0 15%;
  background-color: rgb(110, 176, 204);
}

#about-wrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 100vh;
}

.about-container-1 {
  margin-top: 2%;
  font-size: 3rem;
  font-family: 'Spectral', serif;
}

.about-container-2 {
  justify-items: center;
  display: flex;
  margin-top: 4%;
  flex-direction: row;
}

#about-attribution {
  position: fixed;
  bottom: 0;
  right: 17%;
  color: rgb(44, 44, 44);
}

.about-imgs {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* padding: 15px; */
}

.about-imgs img {
  max-width: 35%;
  height: auto;
  cursor: auto;
}
